<h1>HelloWorld.com</h1>
<h2>Первое приложение на blazor</h2>

@*              --- Пример добаления компонентов ---
Компонент, как и обычные классы C#, может определять переменные, которые хранят 
состояние компонента, и методы, которые определяют логику компонента, например, 
обработку событий элементов визуального интерфейса.
Все методы, переменные и свойства компонента определяются внутри блока @code. 
*@

@code {
    string Msg { get; } = "Hello";
    string name = "Admin";
    string DisplayTime() => $"Current time: {DateTime.Now.ToString("HH:mm:ss")}";
}

<h1>@Msg @name</h1>
<h2>@DisplayTime()</h2>

@* -- Рендеринг html -- *@
<div>@((MarkupString)html)</div>

@code {
    string html = "<h1>HelloWorld.com</h1>";
}

@* --- Компоненты статические --- *@
<link href="/css/style.css" rel="stylesheet" type="text/css">

<h1>Hello @name</h1>
<h3>CUBE</h3>

<img alt="Cube" src="/images/cube.jpg" />
