<h1>Component Home</h1>
<h2>@header</h2>

@code {
    string header = "Страница Home";
}

<h2>Количество пользователей: @Count</h2>
<ul>
    @foreach (var user in Users) {
        <li>@user</li>
    }
</ul>

@code {

    [Parameter]
    public List<string> Users { get; set; } = new();

    [Parameter]
    public int Count { get; set; }
}

@* --- Передача содержимого из родительского в дочерний компонент --- *@
<h2>@Title</h2>
<div>@ChildContent</div>
<hr />
<div>Условный футер</div>

@code {
    [Parameter]
    public string Title { get; set; } = "";

    // Согласно условностям свойство должно называться именно ChildContent,
    // и оно должно представлять тип RenderFragment.
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}